* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

#header {
    margin-top: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.header-nav a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #011F3A;
    padding: 0 15px;
}
.header-tit {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #011F3A;
    padding: 0 15px;
}
#hero {
    background: #F2AE4D;
    margin: 50px;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-title h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #011F3A;
    margin-bottom: 20px;
}
.hero-title p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #011F3A;
    margin-bottom: 20px;
}
.hero-title button {
    width: 200px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #3D5675;
    border-radius: 44px;
    cursor: pointer;
}

. hero-title  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

